



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* creating a variable for colors */
:root 
{
	--text:#777777;
	--primary:#10D600 ;
	--secondary:#10D600;
	--ternary:#007013;
	--danger:#FE4545;
	--pure:#FEFEFE;
	--light:#F0F0F0;
	--haven:#FFFFFF;
	--footer:#20333F;
	--shadow:0px 10px 30px rgba(118,85,225,0.3);
	--box-shadow:0px 10px 30px rgba(57,56,61,0.205);
	--gradient:linear-gradient(90deg,#10D600 0%,#10630a 100%);
}
.container1
{
	width: 100%;
	padding: 0 15px;  /* top,bottom=0px left,right=15px */
	margin: 0 auto;
    background: #fff;

}

/* creating the size ratios for responsive each particualar devices */
@media (min-width: 576px)
{
	.container1
	{
		max-width: 540px;
	}
}
@media (min-width: 768px)
{
	.container1
	{
		max-width: 720px;
	}
}
@media (min-width: 992px)
{
	.container1
	{
		max-width: 960px;
	}
}
@media (min-width: 1200px)
{
	.container1
	{
		max-width: 1152px;
	}
}
/* creating the main Container class for responsive designs */

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
    background: #fff !important;
}
section.game
{
    margin-top: 3rem;
    background: #fff;
	padding-bottom: 2rem;
}
h2{
    margin-left: 3rem;
    padding: 1rem;

    color: var(--text);
    text-transform: uppercase;
}
.t
{
	padding: 0 !important;
}
.container1
{
    display: flex;
    justify-content: space-between;
}
.container1 .left
{
    width: 50%;
   
    padding: 1rem;
}
.container1 .left h6{
    margin-top: 1rem;
}

.container1 .left img
{
    width: 100%;
	height: 20rem;


}
.container1 .left img:hover{
	box-shadow: var(--shadow);
}
.container1 .right
{
    width: 50%;
	padding: 0;
   
}
h5{
    color: var(--text);
    padding: 1rem 1rem;
	text-transform: uppercase;
   
    
}
p{
    text-align: justify;
}

.container .z div .bo p{

	text-decoration: none;
	display: inline-block;
	padding: 0.8rem 1rem;
/*	border: 2px solid red;*/
	margin: 0.7rem 0;
	margin-right: 0.3rem;
	background-color:#fbfbfb;
	color: #000;
	transition: all .5s ease-out;
}
li{
	color: var(--text);
	object-fit: contain;
	overflow-x: hidden;
}
.container .z div .bo p:hover 
{
	background: var(--primary);
	color: #fff;
}
h6
{
	padding: 0.5rem 0;
}

@media(max-width:970px)
{
	.container1 .left img
	{
		height: 16rem;
	}
	footer .container{
		flex-direction: column;
	}
	footer .container .left{
		width: 100%;
	}
	footer .container .right
	{
		width: 100%;
	}
}
@media(max-width:750px)
{
	.container1
	{
		flex-direction: column;
	}
	.container1 .left{
		width: 100%;
	}
	.container1 .right{
		width: 100%;
	}
	.container1 .left img
	{
		height: 16rem;
	}
}
@media(max-width:430px)
{
	h2
	{
		padding: 1rem;
		margin-left: 0rem;
	}
	.container1 .left 
	{
		padding-left: 0;
	}
	.container1 .right{
		padding-left: 0;
	}
	h5
	{
		padding-left: 0 !important;
		color: var(--primary) !important;
	}
}